*{
    box-sizing: border-box;
}

.admin-shows-list{
    color: white;
    font-size: 40px;
    margin: 15px auto 0px auto;
    text-align: center;
}

.admin-show-panel{
    margin: 10px 40px 5px 60px;
    display: flex;
}

.admin-panel-image{
    text-align: center;
    flex: 2 1 50px;
    margin: 5px;
    height: 300px;
}

.admin-panel-image img{
    width: 70%;
}

.admin-panel-title{
    margin: 5px;
    flex-basis: 200px;
    color: white;
    flex: 6;
}

.admin-panel-title h1{
    margin-top: 1%;
    font-size: 30px;
}

.crew-info-admin{
    font-size: 12px;
}

@media only screen and (max-width: 600px){
    .admin-panel-image{
        text-align: center;
        flex: 3;
        margin: 2px;
        margin-right:8px;
        height: 200px;
    }
    .admin-panel-image img{
        width: 100%;
    }
    .admin-panel-title h1{
        margin-top: 1%;
        font-size: 15px;
    }
    .admin-panel-title p{
        font-size: 13px;
    }
    .crew-info-admin{
        font-size: 13px;
    }
}

@media only screen and (max-width: 400px){
    .admin-show-panel{
        margin: 0px;
        display: flex;
    }
    .admin-panel-image{
        text-align: center;
        flex: 3;
    }
    .admin-panel-image img{
        width: 100%;
        margin-left: 5px;
    }
    .admin-panel-title{
        margin: 5px;
        flex-basis: 200px;
        color: white;
        flex: 6;
    }
    .admin-panel-title h1{
        margin-top: 1%;
        font-size: 15px;
    }
    .admin-panel-title p{
        font-size: 13px;
    }
    .crew-info-admin{
        font-size: 13px;
    }
}