.playBtn.play {
    background: transparent;
    width: 40px;
    height: 40px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 22px 0px 22px 40px;
    border-color: transparent transparent transparent white;
    transition: all 0.2s;
    position: absolute;
    top: 12px;
    left: 25px;
}

.playBtnCircle{
    width: 90px;
    height: 80px;
    background-color: black; 
    border: 3px solid black;
    border-radius: 20%;
    position: relative;
    top: 110px;
    left: 43%;   
    transition: all 0.2s;
}

.playBtnCircle:hover .playBtn.play{
    transform: scale(1.1);
    cursor: pointer;
}

.playBtnCircle:hover{
    cursor: pointer;
    transform: scale(0.98);
}

button:focus{
    outline:0;
}

@media only screen and (max-width: 400px){
    .playBtn.play{
        left: 40%;
    }
}