.synopsis-container {
    width: 75%;
    margin: 30px auto;
}

.synopsis-title {
    background: inherit;
    color: white;
    font-weight: 700;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    padding: 30px;
}

hr {
    margin: 5px;
}

.profile { 
    color: white;
    display: flex;
    width: 100%;
    height: 80%;
    display: flex;
    font-weight: bold;
}

.description{
    flex: 4;
    padding: 30px;
    font-size: 26px;
}


.synopsis-image{
    flex: 5;
}

.synopsis-image img{
    border-radius: 10px;
    min-width: 250px;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px){
    .synopsis-container {
        width: 85%;
        margin: 10px auto;
    }
    
    .synopsis-title {
        padding: 5px;
        font-size:37px;
    }
    .profile{
        display: block;
    }
    .description{
        padding: 10px;
        font-size: 15px;
        text-align: center;
        font-weight: 1000;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px){
    .description{
        font-size: 25px;
    }
}

#homeBtn {
    margin: 10px auto;
    width: 100px;
    background-color: white;
    text-align: center;
    border-radius: 3px;
}

#homeBtn a {
    color: black;
    text-decoration: none;
}


#homeBtn:hover {
    background: gray; 
}

#homeBtn:hover a{
    color: white;
}