body {
  background-color:black;
}

.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto; */
  /*Create different grid-columns for different sized screens @media only screen and ...*/
 } 
 
img {
   width: 100%;
   height: 100%;
}

.item {
  flex: 1 1 400px;
  position: relative;
}
 
@media only screen and (max-width: 600px){
  .container{
   display: block;
  }

  img {
     width: 100%;
     height: 100%;
  }
}

.title {
    height: 0;
    opacity: 0;
    background:rgba(0,0,0, 0.9  );
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    transition: height 0.8s, opacity 1s;
    z-index: 1;
    overflow: hidden;
}

.item:hover .title{
  height: 16%;
  opacity: 1;
}

